@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #fff 37.8%, #9d18e1 100%);
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat";
  overflow: hidden;

}

@media screen and (max-width: 1200px) {
  body {
    overflow: scroll;
  }
}